@model IEnumerable<Database.Models.Sensor>

@{
    ViewData["Title"] = "Sensors";
}

<h1>Sensors</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TreeType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SensorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GpsLat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GpsLon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TreeType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SensorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GpsLat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GpsLon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.City)
            </td>
            <td>
            </td>
        </tr>
}
    </tbody>
</table>
